PORT=3000
JWT_SECRET=super-secret-hidalgo
JWT_EXPIRES_IN=8h
DB_DIALECT=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=rh_hidalgo
DB_USER=root
DB_PASSWORD=secret
DB_SYNC=false
UPLOAD_DIR=back_end/uploads
